<div class="navbar sticky-top navbar-expand-sm navbar-light navbar-lewagon border-bottom border-3 ">
  <div class="container-fluid">

  <%# LOGO + LINK HOME %>
    <%= link_to pokemons_path, class: "navbar-brand, h-50 w-80" do %>
      <%= image_tag "logo_pokemon.png", class: "w-80" %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <%# SEARCH BAR %>
    <div class="d-flex">
      <%= form_with url: pokemons_path, method: :get, data: {searchbar_target: 'form'}, class: "d-flex" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              # placeholder: "Trouve ton pokemon !",
              data: { action: "keyup->searchbar#searching",
                      searchbar_target: "input"
                    }
          %>
      <% end %>
            <i class="fas fa-search p-2 border border-2 border-dark rounded-circle mx-2"></i>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>

          <%# HOME LINK %>
          <li class="nav-item active">
            <%= link_to "Home", pokemons_path, class: "nav-link" %>
          </li>

          <%# CATEGORIES LINK %>
          <li class="nav-item dropdown">
            <p class=" nav-link dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown">Categories</p>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <% Pokemon::CATEGORIES.each do |cat| %>
                <%= link_to cat, pokemons_path(cat), class: "dropdown-item" %>
              <% end %>

            </div>
          </li>

          <%# ADD POKEMON LINK %>
          <li class="nav-item">
            <%= link_to "Ajouter un pokemon", new_pokemon_path, class: "nav-link" %>
          </li>

          <%# MY BOOKINGS LINK %>
          <li class="nav-item">
            <%= link_to "Vos réservations", "#", class: "nav-link" %>
          </li>

            <%# PROFILE DROPDOWN %>
          <li class="nav-item dropdown">
            <%= image_tag "sacha.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Vos pokemons", dashboard_index_path, class: "dropdown-item" %>
              <%= link_to "Vos réservations",  dashboard_my_boookings_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
