<div class="container">
<div class="cards mt-4">
  <% @pokemons.each do |pokemon| %>
    <div class="card-trip rounded-3" style="max-width: 540px;">
      <img src="<%= pokemon.image_url %>"  />
        <div class="card-trip-infos">
          <div>
            <h2><%= pokemon.name%></h2>
            <p><strong>Categorie</strong> <%= pokemon.category  %></p>
            <p><strong>Nature</strong> <%= pokemon.nature  %></p>
          </p>
          </div>
          <h2 class="card-trip-pricing">
            <h2><%= pokemon.price%> ₽</h2>
          </h2>
        </div>
    </div>
  <% end %>
</div>

</div>
