<h1>new pokemon</h1>
<%=simple_form_for @pokemon do |f| %>
<%= f.input :name %>
<%= f.input :nature %>
<%= f.input :category %>
<%= f.input :price_by_day %>
<%= f.submit "submit" %>

<%= link_to "retour à la liste des Pokemons", pokemons_path %>

<% end %>
