<div class="mb-5">
  <div class="image d-flex justify-content-between align-items-center border border-5 border-dark">
    <div class="d-flex justify-content-between color-white size w-100 p-5">
      <div style="color: white" class="d-flex flex-column justify-content-center">
        <h1>Caractéristiques</h1>
        <h2>Nom : </h2>
        <p><%= @pokemon.name %></p>
        <h2>Catégorie : </h2>
        <p><%= @pokemon.category %></p>
        <h2>Nature : </h2>
        <p><%= @pokemon.nature %></p>
        <h2>Prix : </h2>
        <p><%= @pokemon.price %> ₽</p>
      </div>
      <div class="d-flex">
        <div class="animate m-3">
          <% if @pokemon.photo.key.present?%>
            <%= cl_image_tag @pokemon.photo.key, height: 300, width: 400, crop: :fill %>
          <% else %>
            <img src="<%= @pokemon.image_url%>">
          <% end %>
        </div>
            <div  class="d-flex flex-column icon p-3">
                <%= link_to edit_pokemon_path(@pokemon.id) do %>
                  <i class="fas fa-edit edit-btn"></i>
                <% end %>
                <%= link_to pokemon_path(@pokemon), data: {turbo_method: :delete, turbo_confirm: "Vous étes sure ?"} do %>
                    <i class="fa-solid fa-trash delete-btn"></i>
                <% end %>

            </div>
          </div>
    </div>
  </div>
  <div class="mt-3 border-bottom border-2" style="height: 50vh">
    <h1>Détails</h1>

    <%= render "components/booking_form", booking: @booking, pokemon: @pokemon%>

  </div>
  <div>
</div>
