<!DOCTYPE html>
<html>
  <head>
    <title>RailsPokepartners</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link rel="icon" href="https://th.bing.com/th/id/R.fd721f81cf12ebf7b3234c2c665b584c?rik=0mthQl%2b6uZ7sUg&pid=ImgRaw&r=0">
  </head>

  <body data-controller="searchbar" class="background-index">
    <div>
      <%= render 'shared/navbar' %>
      <%= render 'shared/flashes' %>
      <%= yield %>
    </div>
    <div class="footer-fixed-bottom">
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
